@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
}
/* Media query for phones */
@media screen and (max-width: 767px) {
  .container {
    background-image: url("jsk.jpeg"); /* Background image URL for phones */
  }
}

/* Media query for tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    background-image: url("jsk8.jpg"); /* Background image URL for tablets */
  }
}

/* Media query for laptops/desktops */
@media screen and (min-width: 1024px) {
  .container {
    background-image: url("jsk7.jpg"); /* Background image URL for laptops/desktops */
  }
}
/* Media queries for tablet */
@media screen and (max-width: 768px) {
  .left-image {
    margin-left: 0;
    margin-right: 0;
    width: 100%; /* Adjust width to fill the container */
  }
}

/* Media queries for mobile */
@media screen and (max-width: 767px) {
  .left-image {
    float: none; /* Remove float to center the image */
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px; /* Adjust margin top for mobile layout */
    width: 80%; /* Adjust width to fill the container */
  }
}
