* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #1568 , #189418);
    padding: 10px;
}
.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.bro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: bisque;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px;
}
button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    border-radius: 40px;
}
ul {
    list-style: none;
}

ul li {
    position: relative;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
}

ul li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('check-box-empty.png'); /* Adjust the path to your image */
    background-size: cover;
}

ul li.checked::before {
    background-image: url('check-box-checked.png'); /* Adjust the path to your checked image */
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}
