body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.content {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: #fcfcfc;
    border-radius: 50px;
    padding: 10px;
    font-size: 18px;
}

.buttons {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    color: #555555; 
    background-color:#fcfcfc;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 28px;
    font-size: 12px;
}
.button:hover  {
    background-color: #cfe7e5;
    transform: scale(1.2);
}
footer{
    font-size: 15px;
    position: absolute;
    top: 600px;
    right: 30px;
}
.slidenav{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
}
.slidenavs{
    display: inline-block;
    padding: 10px 20px;
    color: #555555; 
    background-color: #fcfcfc;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 28px;
    font-size: 12px;
}
.slidenavs:hover {
    background-color:#cfe7e5;
    transform: scale(1.2);
}
.icon:hover {
    color: #3b5998; /* Change color on hover */
}
.social-icons {
    position: fixed;
    top: 50%;
    right: 10px; /* Adjust the distance from the right side */
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    align-items: center;
}
.icon {
    margin-bottom: 10px; /* Adjust the space between icons */
    color: #fcfcfc;
    font-size: 35px;
}
